<% layout("/layouts/boilerplate") %>

    <div class="row">
        <div class="col-8 offset-2">


            <h2>Edit listing</h2>
            <form method="post" action="/listings/<%=listing._id%>?_method=PUT" class="needs-validation" novalidate>
                <!-- To ease for accessing the data in app.js from the request body we make the object key  -->

                <div class="mb-3">
                    <label class="form-label" for="tiitle">Title</label>
                    <input name="listing[title]" value="<%=listing.title%>" id="title" class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea name="listing[description]" id="description" class="form-control"
                        required> <%=listing.description%></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="image">Image</label>
                    <input name="listing[image][url]" value="<%=listing.image.url%>" id="image" class="form-control"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="row">
                    <div class="col-8">
                        <div class="mb-3">
                            <label class="form-label" for="price">Price</label>
                            <input name="listing[price]" value="<%=listing.price%>" type="number" id="price"
                                class="form-control" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="mb-3">
                            <label class="form-label" for="location">location</label>
                            <input name="listing[location]" value="<%=listing.location%>" id="location"
                                class="form-control" required>
                            <div class="invalid-feedback">
                                Please enter valid country
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="country">country</label>
                    <input name="listing[country]" value="<%=listing.country%>" id="country" class="form-control"
                        required>
                    <div class="invalid-feedback">
                        Please enter valid country
                    </div>
                </div>
                <br>
                <button class="btn btn-dark edit-btn">edit</button>
                <br><br>
            </form>
        </div>
    </div>
